################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/recipe_organizer/FileContentIndex
/recipe_organizer/bin/Debug/net8.0-windows/recipe_organizer.dll
/recipe_organizer/bin/Debug/net8.0-windows/recipe_organizer.exe
/recipe_organizer/bin/Debug/net8.0-windows/recipe_organizer.pdb
/.vs/ProjectSettings.json
/.vs/recipe_organizer/v17/.futdcache.v2
/.vs/recipe_organizer/v17/.suo
/.vs/recipe_organizer/v17/DocumentLayout.backup.json
/.vs/VSWorkspaceState.json
/.vs/ProjectEvaluation/recipe_organizer.metadata.v9.bin
/.vs/ProjectEvaluation/recipe_organizer.projects.v9.bin
/.vs/ProjectEvaluation/recipe_organizer.strings.v9.bin
/.vs/recipe_organizer/copilot-chat/f66b70cc/sessions/12824e24-d10b-4b8e-b31f-d506fb36b5a7
/.vs/recipe_organizer/CopilotIndices/17.12.53.23981/CodeChunks.db
/.vs/recipe_organizer/CopilotIndices/17.12.53.23981/CodeChunks.db-shm
/.vs/recipe_organizer/CopilotIndices/17.12.53.23981/CodeChunks.db-wal
/.vs/recipe_organizer/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
/.vs/recipe_organizer/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
/recipe_organizer/obj/Debug/net8.0-windows/refint/recipe_organizer.dll
*.exe
*.dll
*.pdb
/recipe_organizer/obj/Debug/net8.0-windows/recipe_organizer.AssemblyInfo.cs
/recipe_organizer/obj/Debug/net8.0-windows/recipe_organizer.AssemblyInfoInputs.cache
/recipe_organizer/obj/Debug/net8.0-windows/recipe_organizer.assets.cache
/recipe_organizer/obj/Debug/net8.0-windows/recipe_organizer.GeneratedMSBuildEditorConfig.editorconfig
/recipe_organizer/obj/Debug/net8.0-windows/recipe_organizer.sourcelink.json
/recipe_organizer/obj/project.assets.json
/recipe_organizer/obj/project.nuget.cache
/recipe_organizer/obj/recipe_organizer.csproj.nuget.dgspec.json
